:root {
    --electric-violet: #7945FF;
    --purple-heart: #5C2DD5;
    --brink-pink: #FD6687;
    --golden-tanoi: #FFCE67;
    --white: #FFF;
    --black: #000;
}

body {
    background-color: var(--electric-violet);
}

.main-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.game-board {
    position: relative; 
}

.game-board-black {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.game-cell {
    position: absolute;
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: .4s;
}

.game-cell:hover {
    opacity: .8;
}

/* First row */
.game-cell[data-x="0"][data-y="0"] {
    left: 18px;
    top: 18px;
}

.game-cell[data-x="1"][data-y="0"] {
    left: 108px;
    top: 18px;
}

.game-cell[data-x="2"][data-y="0"] {
    left: 196px;
    top: 18px;
}

.game-cell[data-x="3"][data-y="0"] {
    left: 284px;
    top: 18px;
}

.game-cell[data-x="4"][data-y="0"] {
    left: 372px;
    top: 18px;
}

.game-cell[data-x="5"][data-y="0"] {
    left: 460px;
    top: 18px;
}

.game-cell[data-x="6"][data-y="0"] {
    left: 548px;
    top: 18px;
}

/* Second row */
.game-cell[data-x="0"][data-y="1"] {
    left: 18px;
    top: 108px;
}

.game-cell[data-x="1"][data-y="1"] {
    left: 108px;
    top: 108px;
}

.game-cell[data-x="2"][data-y="1"] {
    left: 196px;
    top: 108px;
}

.game-cell[data-x="3"][data-y="1"] {
    left: 284px;
    top: 108px;
}

.game-cell[data-x="4"][data-y="1"] {
    left: 372px;
    top: 108px;
}

.game-cell[data-x="5"][data-y="1"] {
    left: 460px;
    top: 108px;
}

.game-cell[data-x="6"][data-y="1"] {
    left: 548px;
    top: 108px;
}


/* Third row */
.game-cell[data-x="0"][data-y="2"] {
    left: 18px;
    top: 196px;
}

.game-cell[data-x="1"][data-y="2"] {
    left: 108px;
    top: 196px;
}

.game-cell[data-x="2"][data-y="2"] {
    left: 196px;
    top: 196px;
}

.game-cell[data-x="3"][data-y="2"] {
    left: 284px;
    top: 196px;
}

.game-cell[data-x="4"][data-y="2"] {
    left: 372px;
    top: 196px;
}

.game-cell[data-x="5"][data-y="2"] {
    left: 460px;
    top: 196px;
}

.game-cell[data-x="6"][data-y="2"] {
    left: 548px;
    top: 196px;
}


/* Fourth row */
.game-cell[data-x="0"][data-y="3"] {
    left: 18px;
    top: 284px;
}

.game-cell[data-x="1"][data-y="3"] {
    left: 108px;
    top: 284px;
}

.game-cell[data-x="2"][data-y="3"] {
    left: 196px;
    top: 284px;
}

.game-cell[data-x="3"][data-y="3"] {
    left: 284px;
    top: 284px;
}

.game-cell[data-x="4"][data-y="3"] {
    left: 372px;
    top: 284px;
}

.game-cell[data-x="5"][data-y="3"] {
    left: 460px;
    top: 284px;
}

.game-cell[data-x="6"][data-y="3"] {
    left: 548px;
    top: 284px;
}


/* Fifth row */
.game-cell[data-x="0"][data-y="4"] {
    left: 18px;
    top: 372px;
}

.game-cell[data-x="1"][data-y="4"] {
    left: 108px;
    top: 372px;
}

.game-cell[data-x="2"][data-y="4"] {
    left: 196px;
    top: 372px;
}

.game-cell[data-x="3"][data-y="4"] {
    left: 284px;
    top: 372px;
}

.game-cell[data-x="4"][data-y="4"] {
    left: 372px;
    top: 372px;
}

.game-cell[data-x="5"][data-y="4"] {
    left: 460px;
    top: 372px;
}

.game-cell[data-x="6"][data-y="4"] {
    left: 548px;
    top: 372px;
}


/* Sixth row */
.game-cell[data-x="0"][data-y="5"] {
    left: 18px;
    top: 460px;
}

.game-cell[data-x="1"][data-y="5"] {
    left: 108px;
    top: 460px;
}

.game-cell[data-x="2"][data-y="5"] {
    left: 196px;
    top: 460px;
}

.game-cell[data-x="3"][data-y="5"] {
    left: 284px;
    top: 460px;
}

.game-cell[data-x="4"][data-y="5"] {
    left: 372px;
    top: 460px;
}

.game-cell[data-x="5"][data-y="5"] {
    left: 460px;
    top: 460px;
}

.game-cell[data-x="6"][data-y="5"] {
    left: 548px;
    top: 460px;
}