@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --electric-violet: #7945ff;
  --purple-heart: #5c2dd5;
  --brink-pink: #fd6687;
  --golden-tanoi: #ffce67;
  --white: #fff;
  --black: #000;

  --space-grotesk: "Space Grotesk";
}

body {
  background-color: var(--purple-heart);
  font-family: var(--space-grotesk);
}

.hidden {
  display: none !important;
}

.main-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.main-menu {
  background-color: var(--electric-violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 4px solid var(--black);
  width: 480px;
  height: 537px;
}

.main-menu-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-menu img:first-child {
  margin-bottom: 48px;
}

.game-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  padding: 12px;
  margin-right: 28px;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

.player-cpu-button {
  background-color: var(--brink-pink);
  border: 4px solid var(--black);
  color: var(--white);
  text-transform: uppercase;
}

.player-player-button {
  background-color: var(--golden-tanoi);
  border: 4px solid var(--black);
  margin-top: 14px;
  color: var(--black);
  text-transform: uppercase;
}

.game-rules-button {
  background-color: var(--white);
  border-radius: 20px;
  border: 4px solid var(--black);
  margin-right: 28px;
  margin-top: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  padding: 12px;
  margin-right: 28px;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

.player-cpu,
.player-player,
.game-rules {
  padding-left: 0px;
  list-style-type: none;
}

.game-rules-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 480px;
  height: 537px;
  background-color: white;
  border: 4px solid var(--black);
  border-radius: 40px;
}

.game-rules-title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.game-rules-context {
  margin-left: 32px;
}

.game-rules-second-title {
  margin-bottom: 16px;
  text-transform: uppercase;
  color: var(--electric-violet);
  font-size: 20px;
}

.game-rules-description {
  opacity: 0.6611;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 32px;
}

.game-rules-list {
  padding-left: 0px;
  margin-left: 16px;
  opacity: 0.6611;
  font-weight: 500;
}

.game-rules-list::marker {
  font-weight: bold;
}

.game-rules-list li {
  margin-top: 8px;
  width: 90%;
}

.icon-check {
  position: absolute;
  left: 190px;
  bottom: -40px;
  cursor: pointer;
}

.game-board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board-navigation ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
  align-items: center;
  justify-content: center;
  gap: 96px;
  margin-bottom: 20px;
}

.game-board-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 64px;

}

.cpu-card,
.player-card {
  background-color: white;
  width: 142px;
  height: 160px;
  border-radius: 20px;
  border: 4px solid var(--black);

}

.cpu, .player{
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.cpu-card img, .player-card img {
  position: relative;
  top: -28px;
  left: 36px;
} 

.points {
  text-align: center;
  font-size: 56px;
  margin-left: 50px;
}

.menu,
.restart {
  border-radius: 20px;
  background-color: var(--purple-heart);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.game-board-black {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.game-cell {
  position: absolute;
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: 0.4s;
}

.game-cell:hover {
  opacity: 0.8;
}

/* First row */
.game-cell[data-x="0"][data-y="0"] {
  left: 18px;
  top: 18px;
}

.game-cell[data-x="1"][data-y="0"] {
  left: 108px;
  top: 18px;
}

.game-cell[data-x="2"][data-y="0"] {
  left: 196px;
  top: 18px;
}

.game-cell[data-x="3"][data-y="0"] {
  left: 284px;
  top: 18px;
}

.game-cell[data-x="4"][data-y="0"] {
  left: 372px;
  top: 18px;
}

.game-cell[data-x="5"][data-y="0"] {
  left: 460px;
  top: 18px;
}

.game-cell[data-x="6"][data-y="0"] {
  left: 548px;
  top: 18px;
}

/* Second row */
.game-cell[data-x="0"][data-y="1"] {
  left: 18px;
  top: 108px;
}

.game-cell[data-x="1"][data-y="1"] {
  left: 108px;
  top: 108px;
}

.game-cell[data-x="2"][data-y="1"] {
  left: 196px;
  top: 108px;
}

.game-cell[data-x="3"][data-y="1"] {
  left: 284px;
  top: 108px;
}

.game-cell[data-x="4"][data-y="1"] {
  left: 372px;
  top: 108px;
}

.game-cell[data-x="5"][data-y="1"] {
  left: 460px;
  top: 108px;
}

.game-cell[data-x="6"][data-y="1"] {
  left: 548px;
  top: 108px;
}

/* Third row */
.game-cell[data-x="0"][data-y="2"] {
  left: 18px;
  top: 196px;
}

.game-cell[data-x="1"][data-y="2"] {
  left: 108px;
  top: 196px;
}

.game-cell[data-x="2"][data-y="2"] {
  left: 196px;
  top: 196px;
}

.game-cell[data-x="3"][data-y="2"] {
  left: 284px;
  top: 196px;
}

.game-cell[data-x="4"][data-y="2"] {
  left: 372px;
  top: 196px;
}

.game-cell[data-x="5"][data-y="2"] {
  left: 460px;
  top: 196px;
}

.game-cell[data-x="6"][data-y="2"] {
  left: 548px;
  top: 196px;
}

/* Fourth row */
.game-cell[data-x="0"][data-y="3"] {
  left: 18px;
  top: 284px;
}

.game-cell[data-x="1"][data-y="3"] {
  left: 108px;
  top: 284px;
}

.game-cell[data-x="2"][data-y="3"] {
  left: 196px;
  top: 284px;
}

.game-cell[data-x="3"][data-y="3"] {
  left: 284px;
  top: 284px;
}

.game-cell[data-x="4"][data-y="3"] {
  left: 372px;
  top: 284px;
}

.game-cell[data-x="5"][data-y="3"] {
  left: 460px;
  top: 284px;
}

.game-cell[data-x="6"][data-y="3"] {
  left: 548px;
  top: 284px;
}

/* Fifth row */
.game-cell[data-x="0"][data-y="4"] {
  left: 18px;
  top: 372px;
}

.game-cell[data-x="1"][data-y="4"] {
  left: 108px;
  top: 372px;
}

.game-cell[data-x="2"][data-y="4"] {
  left: 196px;
  top: 372px;
}

.game-cell[data-x="3"][data-y="4"] {
  left: 284px;
  top: 372px;
}

.game-cell[data-x="4"][data-y="4"] {
  left: 372px;
  top: 372px;
}

.game-cell[data-x="5"][data-y="4"] {
  left: 460px;
  top: 372px;
}

.game-cell[data-x="6"][data-y="4"] {
  left: 548px;
  top: 372px;
}

/* Sixth row */
.game-cell[data-x="0"][data-y="5"] {
  left: 18px;
  top: 460px;
}

.game-cell[data-x="1"][data-y="5"] {
  left: 108px;
  top: 460px;
}

.game-cell[data-x="2"][data-y="5"] {
  left: 196px;
  top: 460px;
}

.game-cell[data-x="3"][data-y="5"] {
  left: 284px;
  top: 460px;
}

.game-cell[data-x="4"][data-y="5"] {
  left: 372px;
  top: 460px;
}

.game-cell[data-x="5"][data-y="5"] {
  left: 460px;
  top: 460px;
}

.game-cell[data-x="6"][data-y="5"] {
  left: 548px;
  top: 460px;
}

.timer-player-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 150px;
}

.timer-player-container {
  position: absolute;
  top: -40px;
}

.turn-player,
.timer {
  position: absolute;
  color: white;
  font-weight: bold;
}

.turn-player {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 16px;
}

.timer {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 56px;
}

.cpu-timer {
  background-color: var(--golden-tanoi);
}

.win-player-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.win-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 285px;
  height: 160px;
  background-color: white;
  border-radius: 20px;
  border: 4px solid var(--black);
  position: absolute;
  top: -160px;
}

.winner {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.winner-win {
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 20px;
}

.winner-play-again {
  background-color: var(--purple-heart);
  color: white;
  padding: 10px 20px 10px 22px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.pause-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.pause-menu-wrapper {
  background-color: var(--electric-violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 4px solid var(--black);
  width: 480px;
  height: 537px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.pause-menu-title {
  font-size: 56px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 56px;
  text-align: center;
}

.pause-menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pause-menu-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  padding: 12px;
  margin-right: 28px;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

.continue-game-button {
  background-color: var(--white);
  border: 4px solid var(--black);
}

.restart-game-button {
  background-color: var(--white);
  border: 4px solid var(--black);
  margin-top: 14px;

}

.quit-game-button {
  background-color: var(--brink-pink);
  border-radius: 20px;
  border: 4px solid var(--black);
  margin-top: 14px;
  font-size: 24px;
  font-weight: 700;
  padding: 12px;
  margin-right: 28px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
}

.restart-game,
.continue-game,
.quit-game {
  padding-left: 0px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}